ion-list {
  --background: #fff;
  margin: 0;
  padding: 0;
  ion-item {
    --background: #fff;
    font-size: 12px;
    text-transform: uppercase;
    p {
      color: #37474f;
    }
  }
  ion-icon {
    color: #718792;
    font-size: 2rem;
    margin-right: 16px !important;
  }
}