<ion-list>
  <ion-item>
    <ion-icon slot="start" name="list"></ion-icon>
    <p>The program should run flawlessly.</p>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="bug"></ion-icon>
    <p>The program may contain bugs. It can be playable but sometimes produces strange results.</p>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="phone-landscape"></ion-icon>
    <p>It is better to use this program in landscape mode or on tablet.</p>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="flashlight"></ion-icon>
    <p>Not much info about how to play this game. Try to figure it out yourself.</p>
  </ion-item>
</ion-list>
