.chat-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .chat-box {
    width: 100%;
    height: 100%;
    position: relative;

    .message-area {
      font-size: 12px; /*14px*/
      font-weight: bold;
      letter-spacing: -0.6px;
      line-height: 14px;
      position: absolute;
      left : 0;
      top: 0;
      right: 0;
      bottom: 51px;  /* input area: 50+1px */
      overflow: auto;
      padding: 10px 10px;

      .message {
        display: flex;
        flex-direction: column;
        p {
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          margin: 5px 0;
          max-width: 100%;
          /*min-width: 55%;*/
          padding: 8px;
          white-space: pre-wrap;
        }
      }

      .message.output {
        justify-content: flex-start;
        align-items: flex-start;
        p {
          border-radius: 0 10px 10px 10px;
          /*background: #327ab2;*/
          background: #457fca;
          background: linear-gradient(to bottom, #5691c8, #457fca);
        }
      }

      .message.warning {
        justify-content: flex-start;
        align-items: flex-start;
        p {
          border-radius: 0 10px 10px 10px;
          /*background: #f09741;*/
          background: #ffb75e;
          background: linear-gradient(to bottom, #fcad4e, #e48a03);
        }
      }

      .message.error {
        justify-content: flex-start;
        align-items: flex-start;
        p {
          border-radius: 0 10px 10px 10px;
          /*background: #b92121;*/
          background: #d31027;
          background: linear-gradient(to bottom, #ea384d, #d31027);
        }
      }

      .message.input {
        justify-content: flex-end;
        align-items: flex-end;
        p {
          border-radius: 10px 10px 0 10px;
          /*background: #404040;*/
          background: #333536;
          background: linear-gradient(to bottom, #515355, #333536);
        }
      }
    }
  }
}

.input-area {
  background: #263238;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;

  .form {
    display: flex;
    height: 100%;

    ion-input {
      background: inherit;
      border: none;
      font-size: 18px;
      font-weight: bold;
      padding: 4px 8px;
      width: 82%;
      &:focus {
        outline: none;
      }
    }

    .button {
      align-items: center;
      background: inherit;
      border: none;
      display: flex;
      justify-content: center;
      width: 18%;
      ion-icon {
        font-size: 26px;
      }
    }
  }
}