<div class="chat-main">
  <div class="chat-box">
    <div
      id="message-area"
      class="message-area"
      [style.font-size.px]="settingsService.FontSizeStyle"
      [style.letter-spacing.px]="settingsService.LetterSpacingStyle"
      [style.line-height.px]="settingsService.LineHeightStyle"
    >
      <div class="message" *ngFor="let message of basicService.Messages" [ngClass]="getClasses(message.type)">
        <div *ngIf="message.type==MessageType.Input;then inputType else outputType"></div>
        <ng-template #inputType>
          <p>{{message.text}}</p>
        </ng-template>
        <ng-template #outputType>
          <p [innerHTML]="message.text | safeHtml"></p>
        </ng-template>
      </div>
    </div>

    <div class="input-area">
      <div class="form">
        <ion-input type="text" name="message" id="message" (keyup)="onMessageKeyup($event)" [disabled]="!basicService.IsRunning" [(ngModel)]="message" placeholder="User input here..."></ion-input>
        <div class="button" (click)="onSendMessageClick()">
          <ion-icon fill="clear" name="return-left"></ion-icon>
        </div>
      </div>
    </div>
  </div>
</div>