ion-toolbar {
  ion-icon {
    color: #818385;
    &.active {
      color: #fff
    }
  }
}

ion-list {
  margin: 0;
  padding: 0;
  ion-list-header {
    --background: #37474f;
    letter-spacing: 2px;
  }
  ion-item {
    --background: #263238;
    font-size: 18px;
    text-transform: uppercase;
  }
  ion-icon {
    color: #718792;
    font-size: 2rem;
  }
  ion-label {
    h2 {
      font-size: 18px;
      font-weight: normal;
    }
    p {
      color: #90a4ae;
      font-size: 14px;
    }
  }
}
