<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{programService.SelectedCategory.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLegendClick()">
        <ion-icon slot="icon-only" name="information-circle" [ngClass]="{'active': legendService.IsPopoverVisible}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>{{HeaderText}}</ion-label>
    </ion-list-header>
    <ion-item
      *ngFor="let program of programService.SelectedCategory.programs; let i = index"
      [attr.data-index]="i"
      [button]="true"
      (click)="onProgramClick(i)"
    >
      <ion-icon slot="start" name="{{ getIconName(program) }}"></ion-icon>
      <ion-label>
        <h2>{{program.title}}</h2>
        <p>{{program.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
