<div class="settings-main">
  <h4>Font size: <span>{{ utils.roundToDecimals(settingsService.fontSize, 0) }}px</span></h4>
  <ion-range [(ngModel)]="settingsService.fontSize" min="10" max="20" step="1" snaps="true" ticks="false">
  </ion-range>

  <h4>Letter spacing: <span>{{ utils.roundToDecimals(settingsService.letterSpacing, 1) }}px</span></h4>
  <ion-range [(ngModel)]="settingsService.letterSpacing" min="-2" max="2" step="0.1" snaps="true" ticks="false">
  </ion-range>

  <div style="text-align: right">
  <ion-button color="dark" (click)="onResetValues()">Reset values</ion-button>
  </div>
</div>
