.settings-main {
  padding: 16px 20px 12px 20px;
  h4 {
    color: #37474f;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    span {
      font-weight: bold;
      text-transform: none;
    }
  }
  ion-range {
    --bar-background: #222428;
    --bar-background-active: #222428;
    --knob-background: #222428;
    font-size: 14px;
    padding: 0;
    text-transform: none;
  }
}