
<!-- HEADER -->
<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{Title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onRestartClick()">
        <ion-icon slot="icon-only" name="play" [ngClass]="{'active': basicService.IsRunning}"></ion-icon>
      </ion-button>
      <ion-button (click)="onStopClick()">
        <ion-icon slot="icon-only" name="square" [ngClass]="{'active': !basicService.IsRunning}"></ion-icon>
      </ion-button>
      <ion-button (click)="onSettingsClick($event)">
        <ion-icon slot="icon-only" name="settings" [ngClass]="{'active': settingsService.IsPopoverVisible}"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content>
  <chat></chat>
</ion-content>
