
<!-- HEADER -->
<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-title>Vintage BASIC games</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSearchClick()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- CONTENT -->
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4" align-self-center class="image">
        <div class="icon-image"></div>
      </ion-col>
      <ion-col size="8" align-self-center class="text">
        <p>Featuring</p>
        <p class="swbasic"><span class="red">S</span><span class="blue">W</span>BASIC<span class="yellow">2</span></p>
        <p>Simple BASIC interpreter</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-list-header>
      <ion-label>Game categories <span>({{programService.ProgramCount}} games in total)</span></ion-label>
    </ion-list-header>
    <ion-item
      *ngFor="let category of programService.Categories; let i = index"
      [attr.data-index]="i"
      [button]="true"
      [detail]="false"
      (click)="onCategoryClick(i)"
    >
      <ion-icon slot="start" name="{{category.icon}}" [ngClass]="getCategoryClass(i)"></ion-icon>
      <ion-label>{{category.title}} <span>({{category.programs.length}})</span></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
