ion-list {
  margin: 0;
  padding: 0;
  ion-list-header {
    --background: #37474f;
    letter-spacing: 2px;
    ion-label span {
      color: #90a4ae;
    }
  }
  ion-item {
    --background: #263238;
    font-size: 18px;
    text-transform: uppercase;
    ion-label span {
      color: #718792;
    }
    ion-icon {
      font-size: 2rem;
    }
  }
}

ion-icon {
  color: #fff;

  &.category-0 {
    color: #e53935;
  }

  &.category-1 {
    color: #ff6e40;
  }

  &.category-2 {
    color: #8a602a;
  }

  &.category-3 {
    color: #ffd600;
  }

  &.category-4 {
    color: #64dd17;
  }

  &.category-5 {
    color: #11c0db;
  }

  &.category-6 {
    color: #0091ea;
  }

  &.category-7 {
    color: #304ffe;
  }

  &.category-8 {
    color: #aa00ff;
  }

  &.category-9 {
    color: #ff4081;
  }
}

ion-grid {
  --ion-grid-padding: 16px;
  ion-col.image {
    .icon-image {
      background: url('/assets/images/icon.png') center center/cover no-repeat;
      height: 88px;
      width: 88px;
    }
  }
  ion-col.text {
    p {
      color: #718792;
      font-size: 14px;
      margin: 0;
      padding: 0;
      text-align: center;
      &.swbasic {
        color: #fff !important;
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0;
        span.red {
          color: #e61111;
        }
        span.blue {
          color: #0a6ef1;
        }
        span.yellow {
          color: #ffeb3b;
        }
      }
    }
  }
}


