/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom fonts */
@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: normal;
	src: url('./assets/fonts/UbuntuMono-Regular.ttf');
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: bold;
	src: url('./assets/fonts/UbuntuMono-Bold.ttf');
}

/* Custom global styles */

ion-title {
	font-size: 20px;
	font-weight: bold;
}

.custom-toast {
	color: #0f0;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

/* Used in chat component. All text are uppercased including html elements and attributes. */
.flashing-cursor,
.FLASHING-CURSOR {
	background-color: white;
	display: inline-block;
	height: 10px;
	width: 10px;
	animation: 1s blink step-end infinite;
}

.user-input,
.USER-INPUT {
	/*background-color: #fff;
	color: #457fca;
	padding: 0 2px;*/
	color: #84ffff;
}

@keyframes blink {
	from, to {
		background-color: transparent;
	}
	50% {
		background-color: white;
	}
}

.popover-settings,
.popover-legend {
	--background: #fff;
	color: #121212;
}


